*{
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
  color: #000;
  line-height: 1.4;
}

p{
  margin-bottom: 10px;
}

/* ol, ul{
  margin-left: 20px;
} */

.product{
  border: #000 solid 5px;
  width: 825px;
  margin: 50px auto;
  /* margin-top: 40px; */
  position: relative;
}

.product-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  background-color: #f7f7f7;
  margin-top: 0;
  margin-bottom: 0;
  padding: 16px;
}

.product-img{
  margin-bottom: 0;
}

.price{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

.shipping{
  text-transform: uppercase;
  color: #777;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 20px;
}

.more-info:link,
.more-info:visited{
  color: #000;
  display: inline-block;
  margin-bottom: 20px;
}

.more-info:hover,
.more-info:active{
  text-decoration: none;
}

.product-details{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px; 
  margin-bottom: 15px;
}

.product-details-list{
  list-style: square;
  margin-left: 20px;
}

.product-details-list li{
  margin-bottom: 10px;
}

ul:last-child{
  margin-bottom: 40px;
}

.add-cart{
  margin-top: 20px;
  font-size: 20px;
  border: none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border-top: 4px solid #000;
}

.add-cart:hover{
  background-color: #fff;
  color: #000;
}

.sale{
  position: absolute;
  top: -15px;
  left: -30px;
  background-color: #f00;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 7px 15px;
  letter-spacing: 2px;
}

.color{
  background-color: #000;
  height: 22px;
  width: 22px;
  display: inline-block;/
  margin-right: 10px;
}

.color:last-child{
  margin-right: 0;
}

.black{
  background-color: #000;
}

.color-blue{
  background-color: #0000ff;
}

.color-red{
  background-color: #f00;
}

.color-yellow{
  background-color: #ffd700;
}

.color-green{
  background-color: #00ff00;
}

.color-brown{
  background-color: #964b00;
}

/* .color-options div{
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-right: 10px;
}

.color-options div:last-child{
  margin-right: 0;
} */


/* .color-options div:nth-child(1){
  background-color: #000;
}

.color-options div:nth-child(2){
  background-color: #0000ff;
}

.color-options div:nth-child(3){
  background-color: #ff0000;
}

.color-options div:nth-child(4){
  background-color: #ffd700;
}

.color-options div:nth-child(5){
  background-color: #00ff00;
}

.color-options div:nth-child(6){
  background-color: #964b00;
} */